<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account
      Settings /</span>
    Account</h4>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <h5 class="card-header">Profile Details</h5>
        <!-- Account -->
        <hr class="my-0" />
        <div class="card-body">
          <form id="form" onsubmit="event.preventDefault();saveNewProfile('{{user.id}}');">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text" id="name" name="name" value="{{user.name}}" autofocus />
              </div>
              <div class="mb-3 col-md-6">
                <label for="email" class="form-label">E-mail</label>
                <input class="form-control" type="text" id="email" name="email" value="{{user.email}}"
                  placeholder="john.doe@example.com" />
              </div>

              <div class="mb-3 col-md-6">
                <label class="form-label" for="phoneNumber">Phone Number</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="202 555 0111"
                    value="{{user.phone}}" />
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address"
                  value="{{user.address}}" />
              </div>



            </div>
            <div class="mt-2">
              <button type="submit" class="btn btn-primary me-2">Save
                changes</button>

            </div>
          </form>

        </div>

        <!-- /Account -->
      </div>


      <div class="card mb-4">
        <h5 class="card-header"> Change password</h5>
        <!-- Account -->
        <hr class="my-0" />
        <div class="card-body">
          <form id="formForChangePass" onsubmit="event.preventDefault();changePassword('{{user.id}}');">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="confirmPass" class="form-label">Enter your password</label>
                <input class="form-control" type="password" id="confirmPass" name="confirmPass" value="" placeholder="Enter password before changing it"autofocus />
              </div>
              <br class="mb-3">
              <div class="mb-3 col-md-6">
                <label for="newPassword" class="form-label">Enter your new password</label>
                <input class="form-control" type="password" id="newPassword" name="newPassword" value=""
                  placeholder="Your new password here..." />
              </div>
            </div>
            <div class="mt-2">
              <button type="submit" class="btn btn-primary me-2">Save
                password</button>

            </div>
          </form>

        </div>

        <!-- /Account -->
      </div>
    </div>
  </div>

  <!-- build:js assets/vendor/js/core.js -->
  <script src="/admin/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/admin/assets/vendor/libs/popper/popper.js"></script>
  <script src="/admin/assets/vendor/js/bootstrap.js"></script>
  <script src="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script src="/admin/assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->


  <!-- Page JS -->
  <script src="/admin/assets/js/pages-account-settings-account.js"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script>
    const changePassword = (id) => {
      const confirmPass = document.getElementById("confirmPass").value;
      const newPassword = document.getElementById("newPassword").value;
      const data = {
        id: id,
        oldPassword: confirmPass,
        newPassword: newPassword,
      };

      const url = new URL('/admin/api/change-password', window.location.origin);
      //console.log(JSON.stringify(data));
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
      }).then((response) => response.json())
        .then((data) => {
          if (data.result == "success")
            alert("Change password successfully!");
          else alert("Change password failed!");
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }


    function saveNewProfile(id) {
      const name = document.getElementById("name").value;
      const email = document.getElementById("email").value;
      const phoneNumber = document.getElementById("phoneNumber").value;
      const address = document.getElementById("address").value;
      const data = {
        id: id,
        name: name,
        email: email,
        phoneNumber: phoneNumber,
        address: address,
      };

      const url = new URL('/admin/change-profile', window.location.origin);
      //console.log(JSON.stringify(data));
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
      }).then((response) => response.json())
        .then((data) => {
          if (data.result == "success")
            alert("Change profile successfully!");
          else alert("Change profile failed!");
        })
        .catch((error) => {
          console.error('Error:', error);
        });

    }
  </script>

</div>
<!-- / Content -->