<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Customers
            /</span>
        Customer's Details</h4>
    <div class="col-xl">
        <div class="card">

            <div class="card-body">
                <form onsubmit="event.preventDefault();changeAccountPermission('{{user.id}}')">
                    <div class="mb-3">
                        <label class="form-label" for="id">ID</label>
                        <input type="text" class="form-control" id="id" placeholder="{{user.id}}" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="{{user.name}}" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-email">Email</label>
                        <div class="input-group input-group-merge">
                            <input type="text" id="basic-default-email" class="form-control"
                                placeholder="{{user.email}}" aria-label="john.doe"
                                aria-describedby="basic-default-email2" readonly />
                        </div>
                    </div>
                    <div class="mb-">
                        <label class="form-label" for="basic-default-phone">Phone Number</label>
                        <input type="text" id="basic-default-phone" class="form-control phone-mask"
                            placeholder="{{user.phone}}" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="{{user.address}}" readonly />

                    </div>
                    <div class="form-check form-check-inline mt-3 mb-3">
                        <label class="form-check-label" for="newPermission">Administrator</label>

                        <input class="form-check-input" type="checkbox" id="newPermission" value="option1" {{#if user.isAdmin}}checked{{/if}}/>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        let newPermission = document.getElementById("newPermission");
        let newPermissionValue = false;
        newPermission.addEventListener("change", (event) => {
            if (event.target.checked) {
                newPermissionValue = true;
                console.log(newPermissionValue)
            } else {
                newPermissionValue = false;
                console.log(newPermissionValue)
            }
        })

        console.log(newPermissionValue)

        const changeAccountPermission = (id) => {
            fetch("/admin/change-account-permission", {
                method: "POST",
                body: JSON.stringify({
                    id: id,
                    isAdmin: newPermissionValue
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then((res) => res.json())
                .then((data) => {
                    console.log(data)
                    if (data.result == 'success') {
                        alert("Account permission changed successfully")
                        window.location.href = "/admin/customerstable"
                    } else {
                        alert("Something went wrong")
                    }
                
            })
        }
    </script>
</div>